
<main id="app__main" class="h-100">
  <header class="header">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
            <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
          </nav>
      </header>
  <div class="app__main container-fluid h-75">
    <p>This is the body</p>
  </div>
  <footer class="footer">
      <div class="container-fluid">
        <span class="footer__text">Place sticky footer content here.</span>
      </div>
    </footer>
</main>