<main id="app__main" class="h-100">
  <header class="header p-3">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
      <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
    </nav>
  </header>
  <div class="app__main-component">
    <div class="container">
        <p>This is the body</p>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <span class="footer-text">Place sticky footer content here.</span>
        </div>
      </div>
    </div>
  </footer>
</main>