<main id="app__main">
  <header class="header">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link align-middle" href="#">US Debt Map</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">About</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Table</a>
      <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
    </nav>
  </header>
  <div class="app__component-container">
    <map-component></map-component>
  </div>
  <footer class="footer">
    Fixed Bootom
  </footer>
</main>